.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 2px ridge black;
}

.big_image{
    width: 100%;
}

#start{
    font-size: 25px;
    color: black;
    font-weight: 600;
    border-radius: 9px;
    border: 4px solid darkblue  ;
}

#status {
    border: 4px ridge rgb(0, 0, 0); 
    border-radius: 9px;
}

body {
    text-align: center;
}


h4{

    background-color: gray;
    line-height: 2;
    margin: 0px;
    width: 100%;
}

.modal-dialog{
    width: 90%;
}

.instruction_image
{
    display: inline-block;
    width: 45%;
}

video
{
    background: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
}

